.time-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
}

.time-slot {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.2s, color 0.1s;
}

.time-slot.selected {
  background-color: #c7bb96;
  color: #fff;
}

.time-slot.disabled {
  background-color: #e5e1e1;
  color: #fff;
  cursor: not-allowed;
}

.time-slot.disabled.clean {
  background-color: #ba2e2d;
}