.header_bottom::before {
    content: '';
    background-image: url('/images/bg-logo.webp');
    background-size: contain;
    width: 200px;
    height: 65px;
    background-repeat: no-repeat;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header_bottom::after {
    content: '';
    background-image: url('/images/logo-header.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.coconut::after {
    content: '';
    background-image: url('/images/coconut.gif');
    position: absolute;
    width: 34px;
    height: 34px;
    top: 13px;
    background-size: contain;
    background-repeat: no-repeat;
}

.coconut-mobile::after {
    content: '';
    background-image: url('/images/coconut.gif');
    position: absolute;
    width: 34px;
    height: 34px;
    top: -5px;
    background-size: contain;
    background-repeat: no-repeat;
}